Repository Melampe001/TokyoApps-Multispace-IA: changes, and which Codecov flags are due for each by the changed paths.
All: go, python, dart

.codecov.yml:

# CodeCov Configuration for TokyoApps-Multispace-IA
# This file configures code coverage reporting and requirements

# Coverage target and thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Overall project coverage
    project:
      default:
        target: 70%              # Minimum coverage target
        threshold: 5%            # Allow 5% drop before failing
        if_ci_failed: error      # Fail if CI fails
        
    # Per-patch (PR changes) coverage
    patch:
      default:
        target: 70%              # New code should have 70% coverage
        threshold: 5%
        if_ci_failed: error

    # Track changes over time
    changes:
      default:
        if_ci_failed: error

# Comment configuration for PRs
comment:
  layout: "header, diff, flags, files, footer"
  behavior: default              # Update existing comment
  require_changes: false         # Always comment
  require_base: false            # Comment even without base
  require_head: true             # Require head commit

# Flag configuration for different components
flags:
  # Go backend coverage
  go:
    paths:
      - "cmd/"
      - "internal/"
      - "lib/*.go"
      - "config/"
      - "admin/"
      - "orchestrator/"
    carryforward: true           # Keep previous coverage if not run
  
  # Python coverage
  python:
    paths:
      - "lib/*.py"
      - "agents/"
      - "SYNEMU/"
      - "simulator/"
      - "emulator/"
    carryforward: true
  
  # Dart/Flutter coverage
  dart:
    paths:
      - "app/"
      - "flutter_app/"
    carryforward: true

# Ignore paths that don't need coverage
ignore:
  - "testing/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "**/*_test.go"
  - "**/*_test.py"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "proto/"
  - "templates/"
  - "assets/"
  - "web/static/"
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "vendor/"
  - "node_modules/"

# GitHub integration
github_checks:
  annotations: true              # Show annotations on files

# Codecov AI features
ai:
  enabled: true                  # Enable AI-powered insights

# Require CI to pass before processing coverage
require_ci_to_pass: true

# Coverage parsing
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

Add local Kubernetes instructions for Copilot
  .github/instructions/Direccion fina
Due: none

Add Kubernetes agent deployment configuration
  agents/.dockerignore
  agents/Dockerfile
  infrastructure/k8s/agents-deployment.yaml
Due: python

Add Kubernetes orchestrator deployment with optimized Dockerfile
  infrastructure/k8s/orchestrator-deployment.yaml
  orchestrator/.dockerignore
  orchestrator/Dockerfile
Due: go

🤖 Add PR automation configuration file
  .github/pr-automation-config.yml
Due: none

Add interactive PR metrics dashboard with Chart.js visualizations
  .github/dashboards/pr-dashboard.html
Due: none

Create comprehensive PR Metrics Dashboard with analytics and KPIs
  .github/dashboards/PR_METRICS_DASHBOARD.md
Due: none

Create landing page for PR metrics dashboards
  .github/dashboards/index.html
Due: none

Create advanced PR metrics dashboard for Tokyo-IA
  .github/dashboards/pr-dashboard-advanced.html
Due: none

Add manual Groq API test script for Hiro agent
  test_groq_manual.py
Due: none

Add quick setup script for manual API testing
  quick_setup.sh
Due: none

Add manual Google AI test script for Sakura agent
  test_google_manual.py
Due: none

Add test_free_apis.py for Tokyo-IA free tier API validation
  agents/test_free_apis.py
Due: python

Create comprehensive AI agent orchestration system with 5 agents, 3 workflows, CLI interface, and automatic report generation
  agents/tokyo_crew.py
Due: python

Add SYNEMU observability module with LangSmith integration
  SYNEMU/agents_bots/synemu_observability.py
Due: python
